a {
transition: background-color 1s 0.5s ease-out;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: system-ui;
  font-size: 20px;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: system-ui;
  font-size: 20px;
}
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  font-family: system-ui;
  font-size: 20px;
}
